*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.banner{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left, #8942a8, #ba382f);
    overflow: hidden;
}



.item{
    margin-top: 15vh;
}

#spinner {
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.item-head i{
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
    position: absolute;
    color: #000;
}
.item-head i:hover {
    color: white;
}



.item-head .text{
    position: absolute;
    height: 1rem;
    width: 1rem;
    background: white;
    color: black;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 1rem;
    font-weight: 600;
    top: 1rem;
    right: 1.5rem;
    user-select: none;
}


#item{
    display: flex;
    justify-content: space-around;
}

#item .card{
    position: relative;
    flex-shrink: 0;
    height: 300px;
    width: 200px;
    background-color: #010101;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 7px 5px -5px #4d4b4b;
    transition: 0.5s;
}

.top-bar{
    display: flex;
    transform: translateY(0.5rem);
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
}
.top-bar i{
    color: white;
}

.card .img-container img {
    width: 100%;
    align-self: center;
}

.card .img-container .out-of-stock-cover span {
    font-weight: 900;
    color: rgba(255, 200, 200, 0.75);
    font-size: 1.5rem;
}

.card .img-container .out-of-stock-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    display: none;
}
.card .img-container {
    position: absolute;
    height: 185px;
    width: 185px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(35px);
}

.top-bar .stocks {
    font-size: 0.8rem;
    color: lightgreen;
}

.top-bar .fa-apple {
    font-size: 1.5rem;
}

.card .details {
    position: absolute;
    height: 275px;
    width: 100%;
    background-color: #2e2f33;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    bottom: -215px;
    transition: 0.25s;
    display: flex;
}




.card .details .name-fav {
    display: flex;
    justify-content: space-between;
}
.card .details .name-fav strong {
    color: white;
    font-weight: 600;
}
button {
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.card .details .wrapper {
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(5px);
    display: none;
}
.details .wrapper p {
    font-size: 0.9rem;
    padding: 5px 0;
    font-weight: light;
}

.card .details .purchase {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.card .details .purchase p {
    font-weight: 500;
}
.details .purchase .add-btn {
    border-radius: 20px;
    border: 1px solid white;
    background: none;
    color: white;
    padding: 6px 10px;
}


.details .purchase .add-btn:hover {
    background: white;
    color: black;
  }
  
#item .card:hover {
    height: 450px;
    width: 260px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
#item .card:hover .details {
    bottom: 0;
    color: #fff;
  }
  
#item .card:hover .wrapper {
    display: block;
  }



#txt-tim{
    width: 20%;
}



#icon-phu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: none;
    transition: all 0.2s;
}


#icon-con{
    position: absolute;
    right: -100%;
    background-color: #000;
    width: 60%;
    height: 100%;
    text-align: center;
    color: white;
    transition: all 0.5s linear;
    overflow: hidden;
    z-index: 11;
}

#icon-con h2{
    color: white;
    margin-top: 20px;
}


.icon-d{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 28px;
}

.final{
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.final button{
    color: white;
    font-size: 20px;
    border: 1px solid white;
}

.final button:hover{
    background-color: white;
}